@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dark_blue_color{
    color: #1B27AF;
}

.dark_blue_background{
    background-color: #1B27AF;
}

.light_blue_color{
    color: #1769FF;
}

.pure_white_color{
    color: #FFFFFF;
}

.pure_white_background{
    background-color: #FFFFFF;
}

.light_green_color{
    color: #00FFEB;
}

.dark_black_color{
    color: #000000;
}

.semi_dark_black_color{
    color: #484848;
}

.medium_darl_black_color{
    color: #707070;
}

.navbar_link_color{
    color: #ACB8C1;
}

.poppins_font{
  font-family: Poppins;
}

.glaylike_background_color{
    background-color: #F6F6FF;
}

