.welcome-page-content{
    /* background-image: linear-gradient(to bottom, rgb(0 0 0 / 63%), #00000099), url(../assets/welcome-img.png); */
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 73%), #00000085);;
    height: 100vh;
    min-height: 600px;
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.video-background{
position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.main-welcome-content h1{
  font-family: Poppins;
  font-size: 54px;
  width: 54%;
  margin: auto;
  padding-top: 134px;
  font-weight: bold;
}


.welcome-page-content p{
    width: 45vw;
    margin: auto;
    padding-top: 2em;
}

.button-container{
    width: 31vw;;
    margin: auto !important;
    display: flex;
}

.button-container .hire-button{
    padding: 17px 74px;
    margin-top: 3em;
    width: 80%;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
}

.button-container .get-hired-button{
    width: 80%;
    border: 1px solid #FFFFFF;
    padding: 16px 53px;
    background: transparent;
    font-weight: bold;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 3em;
}

.button-container .get-hired-button:hover{
  background: #00FFEB;
  border-color: #00FFEB;
  color: #1B27AF;
  transition: ease-in-out 0.3s;
}

.welcome-slide-show{

}

.welcome-slide-show div {
    width: 32% !important;
}

.welcome-slide-show div img {
    width: 100% !important;
}

.number-container{
  width: 84%;
  margin: auto;
  background-color: #1B27AF;
  border: 1px solid #707070;
  height: 94vh;
  border-radius: 6px
}

.number-container h1{
  font-size: 2.5em;
  padding-top: 2em;
  font-weight: bold;
}

.number-container p{
  width: 37vw;
  margin: auto;
  font-size: 14px;
  margin-top: 38px;
  border-radius: 6px;
}
.number-container .selection{
    width: 10%;
    margin: auto;
}

.number-container select{
  margin-top: 5em;
  padding: 9px 38px;
  color: #FFFFFF;
  background: transparent;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
  outline: none;
  font-size: 0.8em;
}

.number-container select option{
  color: black;
}

.number-container .card-container{
    width: 94%;
    padding-left: 33px;
}

.number-container .card-container div{
  width: 30%;
  padding: 11px;
}

.number-container .card-container div h1{
  font-weight: 300;
  font-size: 3em;
}

.number-container .card-container div h3{
  font-size: 12px;
  color: white;
  margin-top: 1em;
}

.number-container .card-container div p{
  color: #D7D7E2;
  width: 60%;
}

.what-say-container{
  height: 80vh;
  margin-top: 6em;
}

.what-say-container .main-content{
  display: flex;
  flex-direction: row;
}

.what-say-container div{
  padding: 3em;
  width: 100%;
}

.what-say-container h1{
    font-size: 1.9em;
    font-weight: bold;
    padding-left: 3.2em;
    margin-bottom: -2em;
    margin-top: 2em;
}.what-say-container{
  height: 80vh;
  margin-top: 6em;
}

.what-say-container div{
  padding: 3em;
  width: 100%;
}

.what-say-container h1{
    font-size: 1.9em;
    font-weight: bold;
    padding-left: 3.2em;
    margin-bottom: -2em;
    margin-top: 2em;
}

.what-say-container div iframe{
  width: 79%;
  height: 57vh;
  margin-left: 6em;
}

.what-say-container .speech-text{
  font-size: 0.9em;
  line-height: 28px;
  margin-bottom: 3em !important;
}

.what-say-container .active{
  margin: 0 !important;
  padding: 0 !important;
}

.what-say-container .tw-username{
  font-weight: bold;
  font-size: 0.9em;
}

.what-say-container .tw-tag{
  font-weight: 300;
}

.our-partners-container{
  margin-top: 6em;
}

.our-partners-container h1{
  margin-left: 6em;
  font-size: 2em;
  font-weight: bold;
}

.partners-content{
  overflow: hidden;
}
.partners-content div{
  margin-left: 7em;
  width: 33%;
  margin-top: 4em;
  margin-bottom: 9em;
}

.partners-content img{
  width: 111%;
}

.partners-content h2{
  margin-top: 2em;
  font-size: 1.5em;
  font-weight: bold
}

.partners-content .company{
  font-size: 0.9em;
  margin-bottom: 23px;
}

.partners-content .message{
  overflow-wrap: break-word;
}

.next-partner{
  background: #1769FF;
  opacity: 1 !important;
  height: 8%;
  width: 26%;
  padding: 14px;
  border-radius: 10px;
}

.partners-board-content{
  height: 40vh;
  padding: 0 107px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.partners-board-content img{
  padding: 18px;
  height: 60%;
  margin: 63px;
}

.google-map-content{
  width: 100%;
  height: 46vh;
}

footer{
  height: 38vh;
  padding: 4em 7em;
}

footer h1{
  font-size: 1em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-weight: bold;
}

footer ul li {
  list-style: none;
  margin-left: -2.5em;
  line-height: 30px;
  color: #ECECEC;
  font-size: 0.8em;
}

footer .d-flex svg{
  background: #1769FF;
  padding: 8px;
  height: 2em;
  width: 2em;
  border-radius: 100%;
  cursor: pointer;
}


.contact-form{
  height: 77vh;
  width: 26%;
  position: absolute;
  z-index: 11;
  top: 518.5vh;
  right: 150px;
  border-radius: 0px 0px 6px 6px;
  padding: 23px 34px;
}



.contact-form h1{
  font-size: 1.6em;
  margin-top: 2em;
  font-weight: bold;
  margin-bottom: 2em;
}

.contact-form input, .contact-form textarea{
  border: none;
  border-bottom: 1px solid #000000;
  padding: 13px 0px;
  width: 100%;
  font-size: 0.8em;
  outline: none;
}

.contact-form button{
  border: none;
  font-size: 0.8em;
  padding: 13px 25px;
  float: right;
  margin-top: 22px;
  border-radius: 6px;
}

.first-sliders-content img{
  height: 52vh;
  width: 69%;
}

.top-sliders{
  margin-top: -6em;
  height: 49vh;
}

.first-sliders-content div{
  width: 54%;
  margin-left: -11em;
}

.gray-background{
  height: 111vh;
  position: relative;
  top: -253px;
  z-index: -1;
  margin-bottom: -43em;
}

footer .main-content{
  display: flex;
  flex-direction: row;
}